@model IEnumerable<Product>

<div class="row pb-3 align-items-stretch">
    @foreach (var p in Model)
    {
        <div class="col-lg-3 col-sm-6 d-flex">
            <div class="card border-0 shadow border-5 rounded h-100 d-flex flex-column justify-content-between w-100">

                <div class="d-flex justify-content-center align-items-center" style="height: 300px; overflow: hidden;">
                    <img src="@p.ImageUrl" class="card-img-top rounded" style="height: 100%; width: auto; object-fit: cover;" />
                </div>

                <div class="card-body p-0 d-flex flex-column justify-content-between">
                    <div class="pb-1 mt-3">
                        <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@p.Name</p>
                    </div>

                    <div class="text-center">
                        <p class="text-dark opacity-75 mb-0">
                            List Price:
                            <span class="text-decoration-line-through">@p.Price.ToString("c")</span>
                        </p>
                        
                    </div>
                </div>

                <div class="px-2 pb-3">
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@p.Id"
                       class="btn btn-primary bg-gradient border-0 form-control">
                        Details
                    </a>
                </div>
            </div>
        </div>
    }
</div>
