@model ShoppingCartApp.Models.Product
@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>
<form asp-area="Admin" asp-controller="Products" asp-action="Edit" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Stock"></label>
        <input asp-for="Stock" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-control"></select>
    </div>

    <div class="form-group">
        <label>Product Image</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Update</button>
    <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="btn btn-secondary mt-2">Back</a>
</form>
